.root {
  width: 100%;
  display: flex;
    max-width: 64rem;
    position: fixed;
    bottom: 8rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .input {
    flex: 1;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: solid 1px #e5e5e5;
  }
  
  .button {
    padding: 0.75rem;
    margin-left: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    border-radius: 0.5rem;
    border: solid 1px #171717;
    font-size: 1rem;
    color: #e5e5e5;
  }
  
  .button:hover {
    background-color: #fff;
    color: #171717;
}