.root {
  left: 0;
  width: 17rem;
  display: flex;
  flex-direction: column;
  border-right: solid 1px #e5e5e5;
  padding: 0.75rem;
}

.link {
  flex: 1;
  padding: 0.5rem 0.75rem;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  border: solid 1px #e5e5e5;
}

.link:hover {
  background-color: #e5e5e5;
}

.input {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: solid 1px #e5e5e5;
  font-size: 1rem;
  line-height: 1.5rem;
}

.button {
  padding: 0.5rem;
  margin-left: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171717;
  border-radius: 0.5rem;
  border: solid 1px #171717;
  font-size: 1.5rem;
  color: #e5e5e5;
}

.button:hover {
  background-color: #fff;
  color: #171717;
}

.altButton {
  padding: 0.5rem;
  margin-left: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.5rem;
  border: solid 1px #e5e5e5;
  font-size: 1.5rem;
  color: #a3a3a3;
}
.altButton:hover {
  background-color: #dc2626;
  border-color: #dc2626;
  color: #fafafa;
}