.caret {
  width: 0.75rem;
  height: 1.5rem;
  background-color: #171717;
  animation: blink 0.8s infinite;
  display: inline-block;
    vertical-align: text-bottom;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}